.img-thumbnail img {
    width: 100%;
}
.img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption-full {
    padding: 9px;
}

#trademark {
    position: fixed;
    bottom: 0;
}
.delete-form{
    display: inline;
}